{% extends 'base.html' %}
{% from 'form_helpers.html' import render_field %}

{% block content %}
<section class="section">
    <div class="container">
        <span class="title">
            Please Sign In
        </span>
        <br/>
        <br/>
        <form class="box" method="POST" action="{{ url_for('login')}}">
            {{ form.hidden_tag() }}
            <div class="field">
                <label class="label">{{form.username.label}}</label>
                {{render_field(form.username, class="input", placeholder="Enter Title")}}
            </div>
            <div class="field">
                <label class="label">{{form.password.label}}</label>
                {{render_field(form.password, class="input", type="password", placeholder="Enter Title")}}
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Sign In</button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock content %}