{% extends 'base.html' %}
{% from 'form_helpers.html' import render_field %}

{% block content %}
<div class="card">
  <div class="card-header">
    {{post.author.username}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{post.content}}</p>
    <div class="clearfix"></div>
    <form method="POST" action="{{url_for('view_post', id=post.id)}}">
    {{form.hidden_tag()}}
        <div class="form-group">
            {{render_field(form.content, class="form-control", placeholder="Make a comment")}}
        </div>
        <button type="submit" class="btn btn-primary">Comment</button>
    </form>
  </div>
  <ul class="list-group">
    {% for comment in post.comments %}
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
        {{comment.content}}
        </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}